<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.csstudio.display.builder.model.widgets">
  		<widget
			category="CONTROL"
			class="se.ess.ics.csstudio.display.builder.model.widgets.ControlledKnobWidget"
			description="%ControlledKnobWidget_Description"
			icon="platform:/plugin/se.ess.ics.csstudio.display.builder/icons/controlled-knob.png"
			name="%ControlledKnobWidget_Name"
			type="controlled-knob">
		</widget>
	</extension>
	<extension
 		point="org.csstudio.display.builder.representation.widgets">
  		<representation
			class="se.ess.ics.csstudio.display.builder.representation.javafx.widgets.ControlledKnobRepresentation"
			type="controlled-knob">
		</representation>
   </extension>
	<extension
		point="org.csstudio.display.builder.runtime.widgets">
		<runtime
			class="se.ess.ics.csstudio.display.builder.runtime.ControlledKnobWidgetRuntime"
			type="controlled-knob">
		</runtime>
	</extension>
</plugin>
